/* Generic pane rules */
body { margin: 0 }
.row, .col { overflow: hidden; position: absolute; }
.row { left: 0; right: 0; }
.col { top: 0; bottom: 0; }
.scroll-x { overflow-x: auto; }
.scroll-y { overflow-y: auto; }

body {
            font-family: Verdana, Helvetica, Sans-Serif;
}
p {
    color: White; 
}

#header {
    height: 50px;
    top: 0;
    background-image: url('/KoGrid/images/header-background.png');
    background-repeat: repeat-x;
}
#header p {
	margin: 10px;
	font-size: 24px;
}
        
#header a {
    color: White;
    text-decoration: none;            
}
#body {
    top: 50px;
    bottom: 50px;
    background-color: #CCCCCC;
}
#footer {
    height: 50px;
    bottom: 0;
    background-image: url('/KoGrid/images/footer-background.png');
    background-repeat: repeat-x;
}
#footer p
{
    font-size: 12px;
    width: 300px;
    text-align: center;
    height: 40px;
    line-height: 50px;
}
.centered {
	margin: auto;
}

.example {
	border: 1px solid #666666;
	margin: 10px auto;
}

.outline {
    
}
