body { font-family: Verdana, Helvetica, Sans-Serif; font-size: 12px; color: #333; }

.kgGrid {
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(229, 229, 229);
}
.kgTopPanel {
    background-color: rgb(237, 237, 237);
}
.kgHeaderContainer {             
    border-bottom: 1px solid rgb(229, 229, 229); 
    font-weight: bold;
}
.kgHeaderScroller {
    
}
.kgHeaderCell {
    position: absolute; 
    padding: 0 5px;
    border-right: 1px solid rgb(229, 229, 229); 
}
.kgViewport{
    background-color: rgb(255, 255, 255);
}

.kgCanvas{
    
}

.kgRow {
    border-bottom: 1px solid rgb(229, 229, 229);
}
.kgRow.even {
    background-color: rgb(248, 248, 248);
}
.kgRow.odd {
    background-color: rgb(255, 255, 255);
}
.kgRow.kgSelected {
    background-color: Yellow;
}
.kgCell {
    overflow: hidden; 
    position: absolute;
    padding: 0 5px;
    display: inline;
}
.kgRowIndexCell{ 
    background-color: rgb(237, 237, 237);
}
.kgSelectionCell {
    
}
.kgSelectionCell input[type="checkbox"] {
    margin: auto;
    height: 15px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.kgSortImg{
    height: 11px;
    width: 10px;
}

.kgFilterImg{
    height: 15px;
    width: 15px;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.kgFooterPanel{
    background-color: rgb(237, 237, 237);
    border-top: 1px solid rgb(229, 229, 229);
}