<!--window.kg.defaultHeaderCellTemplate-->
<div data-bind="style: { cursor : sortable() ? 'pointer' : 'default' }, click: sort, css: {'kgSorted': !noSortVisible }, attr: {'class': 'kgHeaderSortColumn ' + headerClass()}">
    <div data-bind="attr: { 'class': 'colt' + $index() + ' kgHeaderText' }, html: displayName"></div>
    <div class="kgSortButtonDown" data-bind="visible: showSortButtonDown"></div>
    <div class="kgSortButtonUp" data-bind="visible: showSortButtonUp"></div>
    <div data-bind="visible: resizable, click: gripClick, mouseEvents: { mouseDown: gripOnMouseDown }" class="kgHeaderGrip" ></div>
</div>