<h1 style="margin-top: 0">Column Definitions Example</h1>
<p>Below is an example on how to define column definitions in koGrid:</p>
<ul style="margin-bottom:0px;" class="nav nav-tabs">
	<li class="nav" ng-repeat="tab in basicTabs" ng-class="{active: selectedBasicTab == tab}">
		<a ng-click="switchTab(tab.index)">{{tab.title}}</a>
	</li>
</ul>
<div ng-include src="link()"></div>
<p>Below is the outcome of the grid. View plunker <a target="blank" href="http://plnkr.co/edit/OUx6CI">here</a>.</p>
<div id="columnDefsGrid" style="border: 1px solid rgb(212,212,212); width: 400px; height: 300px; margin-top: 20px; margin-left: auto; margin-right: auto;" data-bind="koGrid: gridOptions"></div>
		
<script type="text/javascript">
    ko.applyBindings(new columnDefsVM(), document.getElementById('columnDefsGrid'));
</script>