<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>KoGrid : {{ page.title }}</title>
        
        {% include global-resources.html %}
    </head>
    <body>
        <div id="header" class="row">
            <div id="pageInfo" style="position: absolute; left: 0;">
                <p><a href="https://github.com/ericmbarnard/KoGrid/wiki/Examples">KoGrid Examples</a> : <strong><a href="">{{ page.title }}</a></strong></p>
            </div>
            <div id="linkInfo" style="position: absolute; right: 0; margin: 10px 10px">                
                    <div style="float: left;">
                        <a href="https://github.com/ericmbarnard/KoGrid">
                            <img alt="github" style="height: 30px; width: 70px" src="https://a248.e.akamai.net/assets.github.com/images/modules/header/logov7@4x-hover.png?1324325376"  />
                        </a>
                    </div>                    
            </div>
        </div>
        <div id="body" class="row scroll-y">
            
                {{ content }}
                        
        </div>        
        <div id="footer" class="row">
            <p class="centered">&copy; <a href="http://www.ericbarnard.com">Eric M. Barnard</a> </p>
        </div> 
    </body>
</html>
