<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>KoGrid : {{ page.title }}</title>
        
        {% include global-resources.html %}
    </head>
    <body>
        <div id="header" class="row">
            <p>KoGrid Examples : <strong>{{ page.title }}</strong></p>
        </div>
        <div id="body" class="row scroll-y">
            
                {{ content }}
                        
        </div>        
        <div id="footer" class="row">
            <p class="centered">&copy; <a href="http://www.ericbarnard.com">Eric M. Barnard</a> </p>
        </div> 
    </body>
</html>
