<div ng-controller="GroupingHTML5ExampleCtrl">
	<h3>Grouping Example - HTML5</h3>
	<p>Below is an example using HTML5 drag and drop in KoGrid:</p>
	<ul style="margin-bottom:0px;" class="nav nav-tabs">
		<li class="nav" ng-repeat="tab in basicTabs" ng-class="{active: selectedBasicTab == tab}">
			<a ng-click="switchTab(tab.index)">{{tab.title}}</a>
		</li>
	</ul>
	<div ng-include src="link()"></div>
	<p>Below is the outcome of the grid. View plunker <a target="blank" href="http://plnkr.co/edit/OUx6CI">here</a>.</p>
	<div id="groupingHTML5Grid" style="border: 1px solid rgb(212,212,212); width: 500px; height: 300px; margin-top: 20px; margin-left: auto; margin-right: auto;" data-bind="koGrid: gridOptions"></div>
		
	<script type="text/javascript">
		ko.applyBindings(new groupingHTML5VM(), document.getElementById('groupingHTML5Grid'));
	</script>
</div>